@import "keep-react/css";

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #222222;
    font-family: 'Krub', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    padding: 0.6rem;
    text-decoration: none;
    color: white;
}

/* Header */
.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: #333333;
    align-items: center;
    z-index: 100;
    /* width: 300px; */
}
.navbar__link {
    color: #ffffff8a;
    text-decoration: none;
    font-size: 1.6rem;
}

.navbar__link:hover {
    color: white;
    cursor: pointer;
}

.logoNombre {
    margin: 2rem;
    /* padding: 1rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 1rem;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

.logoNombre p {
    display: none;
}

.bg-white {
    background-color: #333333;
}


line {
    stroke: white;
}

/* styles.css */
.activo {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


/* Main */
.centrarContenedores {
    width: min(120rem, 100%);
    margin: 0 auto;
}

.contenedorInfo {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 6.4rem;
    width: min(120rem, 100%);
    /* background-color: aqua; */
}

.contenedorInfo__imagen {
    text-align: center;

    img {
        width: 200px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    img:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}

.contenedorInfo__texto {
    
    .titulo {
        font-size: 1.6rem;
        color: #ffffff8a;
        /* font-weight: bold; */
        margin: 0.4rem;
    }

    .nombre {
        font-size: 3.5rem;
        color: #ffffff;
        font-weight: bold;
        margin: 0.4rem 0rem 2rem 0rem;

    }

    .descripcion {
        color: #ffffff;
        font-size: 1.6rem;
        text-align: justify;
        margin: 0.4rem 2rem;
        line-height: 2.8rem;
    }

}

.contenedorInfo__botones {
    display: flex;
    margin: 1.6rem 0;
    gap: 5rem;
    justify-content: center;
    /* background-color: aqua; */

}

.botones_contacto {
    padding: 1.6rem;
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border: 3px solid #007CED;
    border-radius: 1rem;
    background-color: #222222;
    color: white;
    text-decoration: none;

    &:hover {
        background-color: #3b3b3b;
    }
}

hr {
    margin-top: 2.4rem;
}

h2 {
    color: white;
    margin-top: 3.6rem;
    font-size: 4.8rem;
    text-align: center;
    margin-left: 3.2rem;
}

.contenedorTechnicalSkills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
    margin: 3.2rem 0;
    place-items: center;
}

.tecnologiaCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.1);
    border: 5px solid rgba(255, 255, 255, 0.959);
    width: 25.4rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tecnologiaCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgb(255, 255, 255);
}

.tecnologiaCard img {
    width: 128px;
    border-radius: 1rem 1rem 0 0;
    margin-top: 1.6rem;
}


.tecnologiaCard__ContenedorInfo {
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    margin: 0.4rem;
}

.botonInfo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.8rem;
}

.botonInfo a {
    padding: 0.6rem;
    border: none;
    border-radius: 1rem 0 .8rem 0;
    background-color: #8db9fc;
    font-size: 1.4rem;
    width: 70%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
}

.botonInfo a:hover {
    cursor: pointer;
    background-color: #699ff0;
}

.carrusel {
    height: 30rem;
    color: #fff;
    text-align: center;
    /* background-color: #ce1515; */
    margin-top: 4.8rem;
}

.carrusel img {
    width: 80%;
    margin: 1rem 10%;
    text-align: center;
    /* height: 100%; */
    border-radius: 2rem;
}

.carrusel p {
    font-size: 2.2rem;
    margin: 0.4rem 0.2rem;
    letter-spacing: 0.2rem;
}

.carrusel span{
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin: 0 0.4rem;
}

.text-bold {
    font-weight: bold;
}

/* Contacto */
.contacto {
    margin: 3.2rem auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 95%;
}
.contacto iframe{
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
    grid-column: 1/2;
}

.contacto_info {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.contacto_info_1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    margin: 3.2rem 0;
}

.contacto_info_1 img {
    width: 64px;
    /* background-color: white; */
}

.contacto_info_11 {
    font-size: 1.2rem;
    color: white;
    /* text-align: justify; */
}

.contacto_info_11 span {
    display: block;
    text-align: center;
}

.contacto_info_11 p:last-child {
    display: none;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column: 2/4; */
    gap: 1.6rem;

    input, textarea {
        background-color: transparent;
        border: none;
        border: 2px solid gray;
        border-radius: 2rem;
        /* border-bottom: 1px solid white; */
        padding: 1rem;
        font-size: 2rem;
        color: white;

        &::placeholder {
            color: gray;
        }

    }

    input {
        grid-column: 1/3;
    }

    textarea {
        grid-row: 1/4;
        grid-column: 1/3;
        resize: none;
    }

}

.unbordered {
    border-radius: 1rem;
}

.footer {
    margin-top: 3.2rem;
    padding: 3rem;
    background-color: #333333;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.redesSociales a{
    font-size: 1.6rem;
}

.derechosReservados {
    font-size: 1.6rem;
}

@media (min-width: 468px) {
    .carrusel {
        height: 39rem;
    }

    .logoNombre {
        /* padding: 1rem; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoNombre p {
        display: block;
    }

    .formulario-contacto {

        input:nth-child(1) {
            grid-column: 1/2;
        }

        input:nth-child(2) {
            grid-column: 2/3;
        }

        input:nth-child(3) {
            grid-column: 1/3;
        }

        input:nth-child(1) {
            grid-column: 1/2;
        }
    
        textarea {
            grid-row: 3/4;
            grid-column: 1/3;
        }
    
    }
}


@media (min-width: 768px) {

    .navbar {
        padding: 1rem;
        margin: 2rem;
        display: flex;
        gap: 1.6rem;
        justify-content: center;
        align-items: center;
    }

    .hamburguer {
        display: none;
    }

    .contenedorInfo {
        grid-template-columns: 1fr 2fr;
        margin-top: 12.8rem;
        text-align: start;

    }
    .contenedorInfo__botones {
        margin: 1.6rem 0;
        justify-content: start;
        gap: 2rem;
    }

    .contenedorInfo__imagen {
        text-align: center;
    
        img {
            width: 256px;
        }
    }

    .contenedorInfo__texto {
    
        .titulo {
            font-size: 1.6rem;
            color: #ffffff8a;
            /* font-weight: bold; */
            margin: 0.4rem;
        }
    
        .nombre {
            font-size: 4rem;
            color: #ffffff;
            font-weight: bold;
            margin: 0.4rem 0rem 2rem 0rem;
    
        }
    
        .descripcion {
            color: #ffffff;
            font-size: 2rem;
            text-align: justify;
            margin: 0.4rem 1.6rem 0.4rem 0rem;
            line-height: 2.8rem;
        }

        
    
    }

    .botones_contacto {
        padding: 1.6rem;
        letter-spacing: 0.2rem;
        font-size: 1.6rem;
        /* font-weight: bold; */
        border: none;
        cursor: pointer;
        border-radius: 69px 25px 69px 25px;
        -webkit-border-radius: 69px 25px 69px 25px;
        -moz-border-radius: 69px 25px 69px 25px;
        border-color: #007CED;
        border-style: inset;
        background-color: #222222;
        color: white;
        text-decoration: none;

        &:hover {
            /* color: white; */
            background-color: #3b3b3b;
        }
    }

    h2 {
        text-align: start;
        margin-left: 0;
    }

    .contenedorTechnicalSkills {
        grid-template-columns: repeat(2, 1fr);
    }

    .carrusel {
        height: 58.5rem;
        color: #fff;
        text-align: center;
        /* background-color: #ce1515; */
        margin-top: 4.8rem;
    }
    
    .carrusel img {
        width: 90%;
        margin: 0 5%;
        border-radius: 2rem;
    }
    
    .carrusel p {
        font-size: 4.8rem;
        margin: 1.6rem 0;
        letter-spacing: 0.2rem;
    }

    .carrusel span{
        font-size: 2.4rem;
        margin: 1.6rem 0.3rem;
        letter-spacing: 0.2rem;
    }

    /* Contacto */
    .contacto {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 95%;
    }
    .contacto iframe{
        width: 100%;
        height: 30rem;
        border-radius: 2rem;
        grid-column: 1/4;
    }

    .contacto_info {
        grid-row: 2/3;
        grid-column: 1/2;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }

    .contacto_info_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1.6rem 0;
        flex-direction: row;
    }

    .contacto_info_1 img {
        width: 64px;
        /* background-color: white; */
    }

    .contacto_info_11 {
        font-size: 1.3rem;
        color: white;
        /* text-align: justify; */
    }

    .contacto_info_11 span {
        display: inline-block;
    }

    .formulario-contacto {
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2/4;
        gap: 1.6rem;

        input, textarea {
            background-color: transparent;
            border: none;
            border: 2px solid gray;
            border-radius: 2rem;
            /* border-bottom: 1px solid white; */
            padding: 1rem;
            font-size: 2rem;
            color: white;
            width: 100%;

            &::placeholder {
                color: gray;
            }

        }

    }

    .unbordered {
        border-radius: 1rem;
    }

    .contacto_info_11 p:last-child {
        display: block;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .redesSociales a{
        font-size: 1.4rem;
    }
    
    .derechosReservados {
        font-size: 1.4rem;
    }

}

@media (min-width: 968px) {
    .carrusel {
        height: 65rem;
    }
    .contenedorTechnicalSkills {
        grid-template-columns: repeat(3, 1fr);
    }

    .formulario-contacto {
        input:nth-child(1) {
            grid-column: 1/2;
        }

        input:nth-child(2) {
            grid-column: 1/2;
        }

        input:nth-child(3) {
            grid-column: 1/2;
        }

        input:nth-child(1) {
            grid-column: 1/2;
        }
    
        textarea {
            grid-row: 1/4;
            grid-column: 2/3;
        }

        button {
            grid-column: 1/3;
        }
    }

    .footer:first-child {
        place-items: start;
    }

    .redesSociales {
        text-align: start;
    }
    
    .redesSociales a{
        font-size: 2rem;
    }
    
    .derechosReservados {
        font-size: 2rem;
        text-align: end;
    }
}

@media (min-width: 1200px) {
    .carrusel {
        height: 70rem;
    }
    .contenedorTechnicalSkills {
        grid-template-columns: repeat(4, 1fr);
    }
}